@media screen and (min-width: 768px) {
    main {
        position: relative;
    }

    #hero {
        width: 100%;
        height: auto;
        background-color: var(--flag-clr-yellow);
    }

    h2 {
        text-align: left;
        background-color: var(--flag-clr-yellow-trans);
        padding: 15px 25px;
        position: relative;
        right: 15px;
    }

    #data, #weather {
        background-color: rgba(252, 244, 234, 0.63);
        position: absolute;
        width: 20%;
    }

    #data {
        top: 20%;
        left: 5%;
    }

    #weather {
        top: 60%;
        right: 5%;
    }

    #weather img {
        display: none;
    }

    #weather h2 {
        display: inline-block;
        vertical-align: middle;
    }

    #weather h2::after {
        content: url('../images/rain-icon.svg');
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 30px;
        vertical-align: middle;
    }
}